<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        <title>Siguiente Letra</title>
    </head>
    <body>
        <h1>Buscando la siguiente letra</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.letras.label }}<br>
                {{ form.letras(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>